{% extends "layout.html" %}

{% block title %}
    Tome Review Registration
{% endblock %}

{% block body %}
    <h1>Please register to access Tome Review</h1>

    <form action="{{ url_for('index') }}" method="post">

        <!-- <div class="form-group">
            <select class="form-control" name="flight_id">
                {% for flight in flights %}
                    <option value="{{ flight.id }}">{{ flight.origin }} to {{ flight.destination }}</option>
                {% endfor %}
            </select>
        </div> -->

        <div class="form-group">
            <input class="form-control" name="username" placeholder="UserName">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Reenter Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Register</button>
        </div>

    </form>
    
{% endblock %}
