{% extends "layout.html" %}

{% block title %}
    Tome Review
{% endblock %}

{% block body %}
    <h1>Welcome to Tome Review</h1>
    <p> Search page</p>

    <form action="{{ url_for('index') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="username" placeholder="UserName">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Sign In</button>
            <a href="/register" class="btn btn-primary">Register</a>
        </div>
        
    </form>
    
    
{% endblock %}
